LICENSE @ren-yc
.github/codeql @ren-yc
.github/workflows @ren-yc
.github/ISSUE_TEMPLATE @juruo888
.gitmsgrc.cjs @ren-yc
website/ @juruo888
CHANGELOG.md @juruo888
README.md @juruo888
README.zh-Hans.md @juruo888
SO.ico @juruo888
SO.png @juruo888
nersionNamingRules.md @juruo888
ScratchOff.py @juruo888
font.ttc @juruo888
compile.py @juruo888